NODE_ENV=development
PORT=4000
MONGO_URI="mongodb://localhost:27017/mern-social-rbac"
JWT_ACCESS_SECRET="this_is_a_long_random_access_secret_123"
JWT_REFRESH_SECRET="this_is_a_long_random_refresh_secret_456"
COOKIE_DOMAIN=localhost
CORS_ORIGIN=http://localhost:5173
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
BCRYPT_SALT_ROUNDS=10

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d